<div>
  <h4>Application Form</h4>
  <form action="/job/{{job['id']}}/apply" method="post"> 
    <div>
    <label>Full Name</label><br>
    <input type="text" name="full_name" placeholder="Peter Parker">
    </div>
    
    <div>
    <label>Email</label><br>
    <input type type="text" name="email" placeholder="Peter@ Parker.com">
    </div>
    
    <div>
      <label>Education</label><br>
      <textarea name='education'></textarea>
    </div>
    
    <input type="submit">
    
  </form>
</div>